# Visual Studio temporary files
.vs/
*.user
*.suo
*.sln.docstates

# Build output
bin/
obj/

# NuGet Packages
*.nupkg
packages/

# ASP.NET Core specific
wwwroot/lib/

# Logs
*.log

# Other
[Dd]ebug/
[Rr]elease/