@{
    ViewData["Title"] = "Chính sách bảo mật";
}

<h1>Chính sách bảo mật</h1>

<p>Đây là trang chính sách bảo mật của Nhà Sách Online. Vui lòng đọc kỹ để hiểu rõ về cách chúng tôi thu thập, sử dụng và bảo vệ thông tin của bạn.</p>
<p>Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn và đảm bảo rằng mọi dữ liệu được xử lý theo quy định pháp luật hiện hành.</p>