@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ứng dụng này hiện không có dịch vụ gửi email thực sự, xem <a href="https://aka.ms/aspaccountconf">tài liệu này</a> để biết cách cấu hình dịch vụ gửi email.
            Thông thường email sẽ được gửi: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Nhấn vào đây để xác nhận tài khoản của bạn</a>
        </p>
    }
    else
    {
        <p>
            Vui lòng kiểm tra email của bạn để xác nhận tài khoản.
        </p>
    }
}